.review-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.review-card {
  display: flex;
}

.review-album-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 4rem;
}

.review-card {
  width: 48%;
  padding: 1rem;
  border-radius: 16px;
  background-color: #2a2a2a;
}

.review-rating {
  padding-right: 1rem;
  align-self: center;
  font-size: 30px;
  font-weight: 600;
}

.review-card-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
}

.review-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.review-cover-large {
  max-width: 150px;
  max-height: 150px;
}

.review-label {
  margin-top: 2rem;
  font-size: 20px;
}

.review-editor-actions {
  display: flex;
  gap: 1rem;
}

.review-editor-actions .cancel-button {
  min-width: 25vw;
}

.error-banner {
  color:#c50024;
}

.review-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.review-actions button {
  background-color:#4caf50;
  padding: 8px;
  border: none;
  border-radius: 6px;
}

.review-actions .delete-button {
  color: white;
  border: 1px solid white;
  background-color: #2a2a2a;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #2a2a2a;
  padding: 1rem;
  border-radius: 12px;
}

.comment-user {
  display: flex;
  gap: 10px;
}

.delete-comment {
  padding: 8px;
  border: solid white 1px;
  border-radius: 6px;
}

.comment-header {
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px) {
  .new-review-page {
    padding: 1rem;
  }

  .review-card {
    width: 100%;
  }

  .review-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
}