.settings-page {
  max-width: 750px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings-page h1 {
  margin: 0;
}

.avatar-settings {
  padding-left: 2rem;
  display: flex;
  gap: 1rem;
}

@media (max-width: 800px) {
  .settings-page {
    padding: 1rem;
  }

  .avatar-settings {
    padding: 0;
  }

  .avatar-settings-controls {
    width: 50%;
  }

  .input-avatar {
    max-width: 100%;
  }
}